.form-container {
    max-width: 540px;
    margin: 10rem auto;
    background: #e7f0fa;
    border-radius: 8px;
    box-shadow: 0 0 10px #ccc;
}

.form-title {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    color: #333;
}

.input-group {
    position: relative;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
}

.input-group input {
    padding: 1rem 0.5rem 0.5rem 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    background: white;
}

.input-group label {
    position: absolute;
    left: 10px;
    top: 1rem;
    font-size: 1rem;
    color: #777;
    pointer-events: none;
    transition: 0.2s ease all;
    background: #e7f0fa;
    padding: 0 4px;
}

.input-group input:focus+label,
.input-group .floating {
    top: -8px;
    left: 8px;
    font-size: 0.75rem;
    color: #333;
}

.input-wrapper {
    position: relative;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.submit-button {
    padding: 0.7rem 1.5rem;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    width: 100%;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.submit-button:hover {
    background-color: #45a049;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.submit-button:active {
    transform: scale(0.97);
    box-shadow: none;
}